.block-links {
	.column-block {
		position: relative;
		background-size: cover;
		margin-bottom: 0;

		&:first-child {
			background-image: url(../img/home-links-classes.jpg);

		}
		&:nth-child(2) {
			background-image: url(../img/home-links-training.jpg);
		}
		&:nth-child(3) {
			background-image: url(../img/home-links-thai.jpg);
		}
		&:last-child {
			background-image: url(../img/home-links-store.jpg);
		}
	}


	.block-link {
		color: $white;
		padding: 2rem 1rem;
		text-align: center;
		min-height: 160px;

		@include center-vertically-column;

		@include breakpoint(medium) {
			padding: 2.5rem 2rem;
		}

		@include breakpoint(large) {
			padding: 1.5rem 2rem;
			min-height: 220px;
		}
	}

	#block-link-classes {
		@include link-bg-color($bgcolor:color('blue', 'trans-dark'), $hover-bgcolor:transparentize(color('blue', 'dark'), .15), $color: $white, $hover-color: $white)
	}
	#block-link-training {
		@include link-bg-color($bgcolor:color('blue', 'trans'), $hover-bgcolor:transparentize(color('blue', 'base'), .15), $color: $white, $hover-color: $white)
	}

	#block-link-store {
		@include link-bg-color($bgcolor:color('gold', 'trans-dark'), $hover-bgcolor:transparentize(color('gold', 'dark'), .15), $color: $white, $hover-color: $white)
	}
	#block-link-thai {
		@include link-bg-color($bgcolor:color('gold', 'trans'), $hover-bgcolor:transparentize(color('gold', 'base'), .15), $color: $white, $hover-color: $white)
	}
}