.ctct-form-wrapper {
	.ctct-button {
		display: none;
	}
	.ctct-form-field {
		margin-top: 1em;
		label {
			display: none;
		}
	}
	.ctct-submit {
		display: block;
		width: 100%;
	}
	.ctct-disclosure {
		display: none;
	}

	@include breakpoint(medium) {
		.ctct-form-description h3,
		.ctct-form-field {
			display: inline-block;
		}
		h3 {
			font-size: header-size(small, h3);
			padding-right: 1rem;
			// padding-top: 3px;
		}
		.ctct-form-field {
			margin: 0 0 0 0.1rem;
		}
		input {
			margin-bottom: 0;
		}
	}
}

// .ctct-form-wrapper .success {
//     background-color: rgba(46, 204, 64, 0.02);
//     border-color: #2ECC40;
//     color: #1b7926;
// }