.hero-header {
	position: relative;
	height: rem-calc(210);
	overflow:hidden;

	// .home & {
	// 	height: 100vw;
	// }

	img,
	video,
	iframe {
		@include object-fit;
	}

	@include breakpoint(medium) {
		height: rem-calc(470);
		// .home & {
		// 	height: 70vh;
		// }
	}

	@include breakpoint(large) {
		height: rem-calc(490);
		// .home & {
		// 	height: 75vh;
		// }

	}
	@include breakpoint(xlarge) {
		height: rem-calc(560);
	}
	@include breakpoint(xxlarge) {
		height: rem-calc(640);
	}
}



.hero-slider-image {
	position: relative;
	overflow:hidden;
	height: 100vw;
	background: $black;

	img,
	video,
	iframe {
		@include object-fit;
		opacity: .7;
	}

	@include breakpoint(medium) {
		height: 70vh;
	}

	@include breakpoint(large) {
		height: 75vh;
	}
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
	text-align: center;
	@include text-shadow;
}
