.hero-header,
.hero-slider-image {
	position: relative;
	overflow:hidden;
	height: 90vw;
	background: $black !important;
	width: 100%;

	img,
	video,
	iframe {
		@include object-fit;
		opacity: .7;
	}

	@include breakpoint(medium) {
		height: 70vh;
	}

	.orbit-container {
		opacity: 0;
	}
}

.hero-header {
	.loading {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		text-align: center;
		@include text-shadow;
	}
	.hero-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
	    padding-left: 52px;
	    padding-right: 52px;
		transform: translate(-50%, -50%);
		color: $white;
		text-align: center;
		@include text-shadow;
		@include breakpoint(medium) {
		    padding-left: 100px;
		    padding-right: 100px;
		}
	}
}