.off-canvas {
	.close-button {
		@include link-color($white, color('blue', 'dark'));
	}
}

.mobile-menu {
	padding-top: $global-padding;
	color: $white;
	ul {
		@include reset-list;
	}
	a {
		@include link-bg-color(transparent, $topbar-bg-hover, $white, $white)
	    padding: rem-calc(8 20);
	    display: block;
	}
}

a.ofc-home {
  padding: rem-calc(8 20);
  display: block;
}
