.pricing {
	@include vertical-padding($bottom:0px);
	h3,h4 {
		font-size: header-size(small, h3);
	}
}

.price-list,
.price-list ul {
	list-style: none;
}


.price-info {
	@extend .callout;
	border: 0;
	background-color: $bgcolor;
	text-align: center;
	&.special {
		background-color: color('blue', 'light');
	}

	span {
		display: block;
		&.price {
			font-size: 1.5rem;
			font-family: $header-font-family;
		}
	}
}

@include breakpoint(small only) {
	.pricing-nav {
		.menu {
			li {
				display: block;
			}
		}
	}
}

@include breakpoint(medium) {
	.pricing {
		h3,h4 {
			font-size: header-size(medium, h4);
		}
	}
}
