.spotlight {
	background-color: color('blue', 'light');
}

.spotlight-image {
	background-color: color('blue', 'dark');
	a {
		display: block;
	}
}

.spotlight-text {
	background: url(../img/mandala.png) top center no-repeat;
	padding: 1rem;
}