#site-navigation {
	height: 50px;
	font-size: 15px;

	.top-bar-title {
		background-color: $bgcolor;
		height: inherit;
		width: 120px;
	}
	.site-title {
		font-size: 2rem;
	}

	.top-bar-left,
	.top-bar-right {
		width: auto;
		a {
			color: $white;
			transition: $button-transition;
			@include hover {
				background-color: $topbar-bg-hover;
			}
		}
	}
	.top-bar-left {
		a {
			padding: 6px 1rem;
		}
	}
	.top-bar-right {
		a {
			i {
				vertical-align: baseline;
			}
			[class^="icon-"]:before, [class*=" icon-"]:before {
				font-size: 1.25rem; //MRo edit
			}
		}
	}
	.menu {
		background-color: transparent;
	}
	.menu-item {
		a {
			line-height: 38px;
			padding: 6px 1rem;
		}
		ul {
			opacity: 0;
			visibility: hidden;
		}
	}
}

@include breakpoint(medium) {
	#site-navigation {
		height: 60px;

		.top-bar-title {
			padding: 0.25rem 0.9rem 0.25rem 1rem;
			width: 164px;
		}

		.menu {
			> li > a {
				line-height: 40px;
				padding: 10px 0.9rem;
			}
		}
		.top-bar-right {
			.menu {
				> .menu-item > a {
					padding: 10px 0.5rem;
				}
			}
		}
	}
}

@include breakpoint(large) {

	#site-navigation {
		background: linear-gradient(
			to bottom,
			$topbar-toplevel-bg 0%,
			$topbar-toplevel-bg 50%,
			$topbar-toplevel-bg 50%,
			$topbar-bg 50%,
			$topbar-bg 100%
		);
		height: 112px;

		.top-bar-title {
			width: auto;
		}
		.site-title {
			padding: 1.25rem 0 1.25rem 0.45rem;
		}
		.top-bar-left {
			margin-left: 8px;
		}
		.menu {
			margin-top: 10px;
			> li > a {
				line-height: 30px;
				padding: 6px 1rem 10px;
			}
		}
		.top-bar-right {
			margin-right: 8px;
			.menu {
				> li > a {
					line-height: 30px;
					padding: 6px 1rem 4px;
				}
				> .menu-item-social > a {
					line-height: 30px;
					padding: 6px 0.5rem 4px;
				}
			}
		}

		.menu-item {
			@include hover {
				&:not(.current-menu-item) {
					a {
						background-color: $topbar-bg-hover;
					}
					> .sub-menu {
						background-color: $topbar-bg-hover;
						opacity: 1;
						visibility: visible;
						z-index: 99;
						a:hover {
							background-color: $topbar-bg;
						}
					}
				}
			}
			&.current-menu-item,
			&.current-menu-parent {
				a {
					background-color: $topbar-bg;
				}
				> .sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}

		}

		.sub-menu {
			position: absolute;
			display: block;
			left: 230px;
			width: 100%;
			padding-left: 8px;
			transition: opacity 0.25s ease-out;
			@include reset-list;
			.menu-item {
				display: table-cell;
				vertical-align: middle;
				width: auto;
				white-space: nowrap;
				a {
					line-height: 56px;
					padding: 8px 1rem;
				}
			}
		}
	}
}