#site-navigation {
	height: 50px;
	// height: 112px;

	.top-bar-title {
		background-color: $light-gray;
		height: inherit;
		width: 120px;
		.site-title {
			font-size: 2rem;
		}
	}

	.top-bar-left,
	.top-bar-right {
		width: auto;
		a {
			color: $white;
			&:hover, &:active {
				background-color: color('blue', 'dark');
			}
		}
	}

	.top-bar-left {
		margin-left: 8px;
	}

	.menu {
		background-color: transparent;
		> li {
			// position: relative;
			> a {
				line-height: 38px;
				padding: 6px 1rem;
			}
		}
		ul {
			display: none;
		}
	}

	@include breakpoint(medium) {
		height: 60px;

		.top-bar-title {
			padding: 0.25rem 0.9rem 0.25rem 1rem;
			width: 164px;
		}

		.menu {
			> li > a {
				line-height: 40px;
				padding: 10px 1rem;
			}
		}
	}

	@include breakpoint(large) {
		background: linear-gradient(
			to bottom,
			color('blue', 'dark') 0%,
			color('blue', 'dark') 50%,
			color('blue', 'dark') 50%,
			color('blue', 'base') 50%,
			color('blue', 'base') 100%
		);
		height: 112px;
		.top-bar-left,
		.top-bar-right {
			a {
				&:hover, &:active {
					background-color: color('blue', 'base');
				}
			}
		}
		.top-bar-title {
			width: auto;
			.site-title {
				padding: 1.25rem .85rem 1.25rem 1rem;
			}
		}
		.menu {
			margin-top: 8px;
			.current-menu-item,
			.current-menu-parent {
				background-color: color('blue', 'base');
				> .sub-menu {
					display: block;
				}
			}
			.menu-item {
				&:hover {
					> .sub-menu {
						display: block;
						z-index: 99999;
					}
				}
			}
			> li > a {
				line-height: 32px;
				padding: 6px 1rem 10px;
			}
		}
		.sub-menu {
			position: absolute;
			left: 252px;
			width: 100%;
			@include reset-list;
			.menu-item {
				display: table-cell;
				vertical-align: middle;
				width: auto;
				white-space: nowrap;
				a {
					line-height: 56px;
					padding: 8px 1rem;
				}
			}
		}
	}
}