#site-navigation {
	height: 50px;
	font-size: 15px;

	.top-bar-title {
		background-color: $bgcolor;
		height: inherit;
		width: 120px;
	}
	.site-title {
		font-size: 2rem;
	}
	.menu-item {
		ul {
			opacity: 0;
			visibility: hidden;
		}
	}
}

#main-menu,
#utility-menu {
	width: auto;
	.menu {
		background-color: transparent;
	}
	a {
		color: $white;
		line-height: 38px;
		padding: 6px 1rem;
		transition: $button-transition;
		@include hover {
			background-color: $topbar-bg-hover;
		}
	}
}
//utility-menu
#utility-menu {
	a {
		i {
			vertical-align: baseline;
		}
		[class^="icon-"]:before, [class*=" icon-"]:before {
			font-size: 1.25rem; //MRo edit
		}
	}
}

.sub-menu {
	// opacity: 0;
	// visibility: hidden;
}


@include breakpoint(medium) {
	#site-navigation {
		height: 60px;

		.top-bar-title {
			padding: 0.25rem 0.9rem 0.25rem 1rem;
			width: 164px;
		}
	}

	#main-menu,
	#utility-menu {
		a {
			padding: 10px 0.9rem;
			line-height: 40px;
		}
	}

	#utility-menu {

		.menu-item-social > a {
			padding: 10px 0.5rem 10px 0.7rem;

		}
	}
}


@include breakpoint(large) {

	#site-navigation {
		background: linear-gradient(
			to bottom,
			$topbar-toplevel-bg 0%,
			$topbar-toplevel-bg 50%,
			$topbar-toplevel-bg 50%,
			$topbar-bg 50%,
			$topbar-bg 100%
		);

		height: 112px;

		.top-bar-title {
			width: auto;
		}

		.site-title {
			padding: 1.25rem 0 1.25rem 0.45rem;
		}
	}

	#main-menu,
	#utility-menu {
		a {
			line-height: 30px;
		}
	}

	#main-menu {
		margin-left: 8px;

		.menu {
			margin-top: 10px;
		}

		a {
			padding: 6px 1rem 10px;
		}

		.menu-item {
			&.current-menu-item {

			}
			&.current-menu-item.menu-item-has-children {

				> a {
					background-color: $topbar-bg;
					&:before {
						@include icon-before;
						@include icon-right-dir;
					}
				}
				> .sub-menu {
					opacity: 1;
					visibility: visible;
					z-index: 99;
				}
			}
			@include hover {
				&:not(.current-menu-item) {
					a {
						color: color('blue', 'light');
						background-color: transparent;
					}
				}
			}
		}

		.no-js & {
			.menu-item {
				@include hover {
					&:not(.current-menu-item) {
						a {
							background-color: $topbar-bg-hover;
						}
						> .sub-menu {
							background-color: $topbar-bg-hover;
							opacity: 1;
							visibility: visible;
							z-index: 99;
							a:hover {
								background-color: $topbar-bg;
							}
						}
					}
				}
				&.current-menu-item,
				&.current-menu-parent {
					a {
						background-color: $topbar-bg;
					}
					> .sub-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}


		.sub-menu {
			position: absolute;
			display: block;
			left: 230px;
			width: 100%;
			padding-left: 8px;
			transition: opacity 0.25s ease-out;
			@include reset-list;
			.menu-item {
				display: table-cell;
				vertical-align: middle;
				width: auto;
				white-space: nowrap;
				a {
					line-height: 56px;
					padding: 8px 1rem;
				}
			}
		}
	}

	#utility-menu {

		.menu-item-social > a {
			padding: 9px 0.75rem 4px 0;
			line-height: 43px;

			@include hover {
				background-color: transparent;
			}

			&.facebook:hover {
				color: color('social', 'facebook');
			}
			&.youtube:hover {
				color: color('social', 'youtube');
			}
			&.twitter:hover {
				color: color('social', 'twitter');
			}
			&.linkedin:hover {
				color: color('social', 'linkedin');
			}
		}
	}

}