////////////////////////////////////////////////////////////////////////////////
// Color palette function
////////////////////////////////////////////////////////////////////////////////

$colors: (
 'blue': (
   base: #0069AA,
   light: #86D6FF,//#76D8FF,
   med: #174A82,
   dark: #051C35,
   trans: transparentize(#0069AA, .35),
   trans-light: transparentize(#76D8FF, .35),
   trans-dark: transparentize(#051C35, .35),
 ),
 'beige': (
   base: #F7F4ED,
 ),
 'gold': (
   base: #825B17,
   light: #B28E24,
   dark: #352200,
   trans: transparentize(#825B17, .35),
   trans-light: transparentize(#B28E24, .35),
   trans-dark: transparentize(#352200, .35),
 ),
 'red': (
   base: #f00,
   light: #de4b39
 ),
 'grey': (
   dark: #333,
   base: #999,
   light: #ececec
 ),
 'black': (
   base: #4A4A4A,
   trans: transparentize(#4A4A4A, .3)
 ),
 'white': (
   base: #fff,
   trans: transparentize(#fff, .5)
 ),
 'social': (
   facebook: #3c5a9a,
   twitter: #55acee,
   google: #de4b39,
   reddit: #cee3f8,
   linkedin: #007bb5,
   youtube: #cc181e,
 )
);

$bgcolor: color('beige', 'base');

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}

//usage
// a {
//   color: color('grey', 'dark');
// }

$topbar-bg: color('blue', 'base');
$topbar-bg-hover: color('blue', 'med');
$topbar-toplevel-bg: color('blue', 'dark');