@mixin link-color($color:$anchor-color, $hover-color:$anchor-color-hover) {
	color: $color;
	&:hover, &:active {
		color: $hover-color;
	}
}

@mixin link-bg-color($bgcolor:$anchor-color, $hover-bgcolor:$anchor-color-hover, $color: $white, $hover-color: $white) {
	color: $color;
	background-color: $bgcolor;
	&:hover, &:active {
		color: $hover-color;
		background-color: $hover-bgcolor;
	}
}

@mixin reset-list {
	list-style: none;
	margin-left: 0;
}

@mixin object-fit {
	/* For browsers that support 'object-fit' */
	@supports ( object-fit: cover ) {
		height: 100%;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 100%;
	}
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

@mixin vertical-padding($top:$vertical-spacing, $bottom:$vertical-spacing) {
	padding-top: $top;
	padding-bottom: $bottom;

	@include breakpoint(medium) {
		padding-top: $top*1.25;
		padding-bottom: $bottom*1.25;
	}

	@include breakpoint(large) {
		padding-top: $top*1.5;
		padding-bottom: $bottom*1.5;
	}
}

@mixin main-headings($margin:$vertical-spacing) {
	margin-bottom: $margin;

	@include breakpoint(medium) {
		margin-bottom: $margin*1.25;
	}

	@include breakpoint(large) {
		margin-bottom: $margin*1.5;
	}
}

@mixin center-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin center-vertically-column {
	@include center-vertically;
	align-items: center;
}

@mixin scale-media-proportionally($ratio:56.25%) {
	height: 0;
	padding-bottom: $ratio; /* 16:9 */
	position: relative;
	overflow: hidden;
	img,
	iframe,
	video {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%; 
		height: auto;
	}
}

@function header-size($breakpoint, $size) {
  	@return map-deep-get($header-styles, $breakpoint, $size, font-size)*1px;;
}