// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

#primary {
	// margin: 0;
	#page-intro,
	.entry-header {
		font-size: 18px;
	}
	@include breakpoint(medium) {
		font-size: 18px;
		#page-intro,
		.entry-header {
			font-size: 22px;
		}
	}

}

#secondary,
.sidebar-form {
	@include breakpoint(medium) {
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	line-height: 1.25;
	.heading-label {
		font-size: .65em;
		display: block;
	}
}

//TRAINING TYPE
.entry-content,
#secondary,
.sidebar-form {
	h2 {
		font-size: header-size(small, h2);
	}
	h3 {
		font-size: header-size(small, h3);
	}
	h4 {
		font-size: header-size(small, h4);
	}
	h5 {
		font-size: header-size(small, h5);
	}
	h6 {
		font-size: header-size(small, h6);
	}
}
.entry-content {
	ul,
	ol,
	p {
		+ h2,
		+ h3 {
			margin-top: 2rem;
		}
	}
}

#secondary,
.sidebar-form {
	&.quick-info h3 {
		font-size: 18px;
		@include breakpoint(large) {
			text-transform: initial;
			font-family: $body-font-family;
			font-weight: 700;
			font-size: 16px;
			clear: both;
		}
	}
}


.spotlight-heading {
	font-size: header-size(small, h1);
	@include breakpoint(medium) {
		font-size: header-size(medium, h2);
	}
	@include breakpoint(large) {
		font-size: header-size(medium, h1);
	}
}

.entry-title,
.section-title {
	@include main-headings;
	text-align: center;
	&:only-child {
		margin-bottom: 0;
	}
}

.entry-title,
.section-title,
.event-title {
	a {
		color: $body-font-color;
		@include hover {
			color: $anchor-color-hover;
		}
	}
}


.event-title {
	@include breakpoint(medium) {
		font-size: header-size(medium, h4);

		#events-calendar & {
			font-size: header-size(medium, h5);
		}
	}
}

.location-title {
	text-transform: none;
	font-family: $body-font-family;
	font-weight: bold;
	font-size: 110%;
}

.cta {
	font-family: $header-font-family;
	font-size: 1.25em;
	text-transform: uppercase;
	@include link-color($body-font-color, color('blue','base'));
}