// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

p {
	// margin: 0;
	@include breakpoint(medium) {
		font-size: 18px;
		#page-intro &,
		.entry-header & {
			font-size: 20px;
		}
	}

}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	line-height: 1.25;
}

h1 {
	// font-size: 2rem;
	// font-weight: 700;
}

h2 {
	// font-size: 1.25rem;
	// font-weight: 700;
}

.spotlight-heading {
	font-size: header-size(small, h1);
	@include breakpoint(medium) {
		font-size: header-size(medium, h2);
	}
	@include breakpoint(large) {
		font-size: header-size(medium, h1);
	}
}

.entry-title,
.section-title {
	@include main-headings;
	text-align: center;
	&:only-child {
		margin-bottom: 0;
	}
}

.event-title {
	@include breakpoint(medium) {
		font-size: header-size(medium, h4);

		#events-calendar & {
			font-size: header-size(medium, h5);
		}
	}
}



.cta {
	font-family: $header-font-family;
	font-size: 1.25em;
	text-transform: uppercase;
	@include link-color($body-font-color, color('blue','base'));
}