#colophon {
	background: $bgcolor;
	padding: 3rem 0;
	text-align: center;
	p {
		color: transparentize(#000, .7);
	}
	a {
		color: $body-font-color;
		@include hover {
			color: $anchor-color-hover;
		}
	}
}

.footer-logo {
	margin-bottom: $vertical-spacing;
	@include breakpoint(large) {
		// @include center-vertically-column;
		margin-top: $vertical-spacing/2;
	}
}

.footer-utility {
	@include breakpoint(large) {
		text-align: left;
	}
}

.footer-list-signup {
	border-bottom: 1px solid transparentize(#000, .85);
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	h3 {
		margin: 0;
	}

}

.footer-copyright,
.footer-credits {
	text-align: center;
	margin-bottom: 0;
}

.footer-credits {
	font-size: $small-font-size;
	span {
		display: block;
	}
}

@include breakpoint(medium) {
	.footer-copyright {
		float: left;
		text-align: left;
		width: 50%;
	}

	.footer-credits {
		float: right;
		text-align: right;
		width: 49%;
		margin-top: 3px;
	}
}
