#secondary,
.sidebar-form {

	@include bordered-box;

	.sidebar-section,
	.widget {
		border-top: 1px solid $light-gray;
		padding-top: $global-margin;
	}

}

.sidebar-heading {
	margin-top: .5rem;
	text-align: center;
}

.quick-info .sidebar-section {

	ul {
		@include reset-list;
		margin-bottom: 1rem;
	}

	@include breakpoint(large) {
		h3 {
			float: left;
			text-align: right;
			width: 100px;
			margin-top: 2px;
		}
		> p, > ul, > ol {
			margin-left: 116px;
		}

		.single-mro-event & {
			h3 {
				width: 79px;
			}
			> p, > ul, > ol {
				margin-left: 95px;
			}
		}
	}
}

.discount {
	@extend .label;
}