#secondary {
	border: 1px solid $light-gray;
	margin-bottom: $global-margin*2;
	padding: $global-margin/2;

	.sidebar-section,
	.widget {
		border-top: 1px solid $light-gray;
		padding-top: $global-margin;

	}

	@include breakpoint(medium) {
		padding: $global-margin;
	}
}

.sidebar-heading {
	margin-top: .5rem;
	text-align: center;
}

.quick-info .sidebar-section {
	h3 {
		float: left;
		text-align: right;
		width: 100px;
		margin-top: 2px;
	}
	> p, > ul, > ol {
		margin-left: 116px;
	}
	> ul {
		list-style: none;
		> li { 

		}
		ul {
			@include reset-list;
			margin-bottom: 1rem; 
		}
	}
}

.discount {
	@extend .label;
}