.event-info {
	span {
		display: block;
	}
	@include breakpoint(small only) {
		#home-events & {
			margin-bottom: $global-margin*2;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.event-featured-image {
	display: block;
	@include scale-media-proportionally(52.4%);
	margin-bottom: $global-margin*2;

	#home-events & {
		margin-bottom: $global-margin;
	}

	#events-calendar & {
		@include breakpoint(medium) {
			@include scale-media-proportionally(26.2%);
			float: left;
			width: 50%;
			margin-bottom: 0;
		}
	}
	@include breakpoint(large) {
		margin-bottom: $global-margin*4;
	}
}

.event-info {
	text-align: center;
	#events-calendar & {
		@include breakpoint(medium) {
			width: 50%;
			float: right;
			padding-left: $global-padding;
			text-align: left;
		}
	}
}