.profile-image {
	display: block;
	@include round-container;
	@include square(200px);
	img {
		@include object-fit;
	}
	.teacher & {
		margin: 0 auto 2rem;
	}
	@include breakpoint(medium) {
		@include square(300px);
	}
	.type-page & {
		@include square(200px);
	}
}

.mro-team {
	.profile-image,
	.profile-image-secondary {
		margin: 0 auto;
	}
	.profile-image {

		+ .entry-title {
			@include vertical-padding($bottom:0);
		}
	}
	.profile-image-secondary {
		@include vertical-padding($top:$vertical-spacing/4, $bottom:0);
	}


}

.teachers-list {
	// @include vertical-padding($bottom: 0);
	.teacher {
		text-align: center;
		margin-bottom: 0;
		@include vertical-padding($top:0, $bottom:$vertical-spacing);
	}
}